@page
@model BirdFarmShop.Pages.Manager.BirdManagement.IndexModel

@{
    ViewData["Title"] = "Index";
}

@*<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bird[0].BirdName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bird[0].Estimation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bird[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bird[0].WeightofBirds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bird[0].BirdDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bird[0].BirdStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bird[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bird[0].Quantity)
            </th>
            <th>
                Owner
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Bird) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BirdName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estimation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeightofBirds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirdDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirdStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BirdId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BirdId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BirdId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Modern Admin Dashboard</title>
    <link rel="stylesheet" href="~/css/admin.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        table thead th {
            padding: 1rem 2rem;
            text-align: center;
            font-size: 21px;
        }

        tbody tr {
            padding: 1rem 1rem;
            text-align: center;
            font-size: 19px;
        }

            tbody tr:hover {
                background-color: #e2ecff
            }

        .side-content ul li:hover {
            border: 2px solid #0d6efd;
            background: #2B384E;
        }
    </style>
</head>
<body>
    <input type="checkbox" id="menu-toggle">
    <div class="sidebar">
        <div class="side-header">
            <h3>B<span>ird</span></h3>
        </div>

        <div class="side-content">
            <div class="profile">
                <div class="profile-img bg-img" style="background-image:url(@Model.TblUserDTO.image)"> </div>
                <h4></h4>
                <small>@Model.TblUserDTO.FullName</small>
            </div>
            <div class="side-menu">
                <ul>
                    <li>
                        <a asp-page="/Manager/WorkManagement/Index">
                            <span><i class="fa-solid fa-kiwi-bird"></i></span>
                            <small>WorkView</small>
                        </a>
                    </li>
                    <li>
                        <a asp-page="/Manager/StaffManagement/Index">
                            <span class="las la-shopping-cart"></span>
                            <small>Orders</small>
                        </a>
                    </li>

                    <li>
                        <a asp-page="/Manager/BirdManagement/Index">
                            <span><i class="fa-solid fa-user-tie"></i></span>
                            <small>User</small>
                        </a>
                    </li>

                    <li>
                        <a asp-page="/Manager/OrderManagement/Index">
                            <span><i class="fa-solid fa-kiwi-bird"></i></span>
                            <small>Bird</small>
                        </a>
                    </li>
   
            
                </ul>
            </div>
        </div>
    </div>

    <div class="main-content">

        <header>
            <div class="header-content">
                <label for="menu-toggle">
                    <span class="las la-bars"></span>
                </label>

                <div class="header-menu">


                    <div class="user">
                        <div class="bg-img" style="background-image: url(img/1.jpeg)"></div>

                        <span class="las la-power-off"></span>
                        <a asp-page="/Logout"><button>Logout</button></a>
                    </div>
                </div>
            </div>
        </header>


        <main>

            <div class="page-header">
                <h1>Show List Bird</h1>

            </div>

            <div class="page-content">

                <div class="records table-responsive">

                    <div class="record-header">

                        <a asp-page="Create"><button class="btn btn-primary">Create</button></a>
                    </div>

                    <div>
                        <table width="100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th> @Html.DisplayNameFor(model => model.Bird[0].BirdName)</th>
                                    <th> @Html.DisplayNameFor(model => model.Bird[0].Gender)</th>
                                    <th> @Html.DisplayNameFor(model => model.Bird[0].WeightofBirds)</th>
                                    <th> @Html.DisplayNameFor(model => model.Bird[0].BirdDescription)</th>
                                    <th> @Html.DisplayNameFor(model => model.Bird[0].Quantity)</th>
                                    <th> @Html.DisplayNameFor(model => model.Bird[0].Price)</th>
                                    <th> @Html.DisplayNameFor(model => model.Bird[0].MotherId)</th>
                                    <th> @Html.DisplayNameFor(model => model.Bird[0].FatherId)</th>
                                    <th><span></span></th>
                                </tr>
                            </thead>
                            @foreach (var item in Model.Bird)
                            {
                                <tbody class="list">
                                    <tr class="item">
                                        <td>@Html.DisplayFor(modelItem => item.BirdId)</td>
                                        <td>
                                            <div class="client">
                                                <div class="client-info">
                                                    <h4>@Html.DisplayFor(modelItem => item.BirdName)</h4>
                                                    <small>@Html.DisplayFor(modelItem => item.Estimation)</small>
                                                </div>
                                            </div>
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Gender)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.WeightofBirds) <span>g</span>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BirdDescription)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Quantity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Price) <span>VND</span>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MotherId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FatherId)
                                        </td>
                                        <td>
                                            <div class="actions">
                                                <a style="padding-left:14px;" asp-page="./Details" asp-route-id="@item.BirdId"><span><i class="fa-solid fa-eye"></i></span></a>
                                                <a style="padding-left:14px;" asp-page="./Edit" asp-route-id="@item.BirdId"><span><i class="fa-solid fa-pen"></i></span></a>
                                                <a style="padding-left:14px;" asp-page="./Delete" asp-route-id="@item.BirdId"><span><i class="fa-solid fa-trash"></i></span></a>
                                            </div>
                                        </td>
                                    </tr>


                                </tbody>
                            }
                        </table>
                    </div>
                    <ul class="listPage">
                    </ul>

                </div>

            </div>

        </main>

    </div>
    <script src="~/js/admin.js"></script>
    <script src="https://kit.fontawesome.com/aadd71a7c7.js" crossorigin="anonymous"></script>
</body>