@page
@model BirdFarmShop.Pages.Admin.CommentManagement.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TblComment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblComment.CommentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblComment.CommentDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblComment.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblComment.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblComment.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblComment.Rating)
        </dd>
       
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblComment.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblComment.User.FullName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="TblComment.CommentId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
