@page
@model BirdFarmShop.Pages.Test.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TblOrderDetail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblOrderDetail.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblOrderDetail.TotalPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblOrderDetail.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblOrderDetail.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblOrderDetail.CostsIncurred)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblOrderDetail.CostsIncurred)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblOrderDetail.Bird)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblOrderDetail.Bird.BirdName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblOrderDetail.Order)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblOrderDetail.Order.ShipAddress)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="TblOrderDetail.OrderId" />
        <input type="hidden" asp-for="TblOrderDetail.BirdId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
