@page
@model BirdFarmShop.Pages.Test.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblOrderDetail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblOrderDetail.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblOrderDetail.TotalPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblOrderDetail.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblOrderDetail.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblOrderDetail.CostsIncurred)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblOrderDetail.CostsIncurred)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblOrderDetail.Bird)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblOrderDetail.Bird.BirdName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblOrderDetail.Order)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblOrderDetail.Order.ShipAddress)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-page="./Index">Back to List</a>
</div>
