@page
@model BirdFarmShop.Pages.Admin.UserManagement.ShowUserListModel

@{
    ViewData["Title"] = "ShowUserList";
}

@*<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Modern Admin Dashboard</title>
    <link rel="stylesheet" href="~/css/admin.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <input type="checkbox" id="menu-toggle">
    <div class="sidebar">
        <div class="side-header">
            <h3>B<span>ird</span></h3>
        </div>

        <div class="side-content">
            =
            <div class="profile">
                <div class="profile-img bg-img" style="background-image:url(@Model.TblUserDTO.image)"> </div>
                <h4></h4>
                <small>@Model.TblUserDTO.FullName</small>
            </div>
            <div class="side-menu">
                <ul>
                    <li>
                        <a asp-page="/Admin/UserManagement/ShowUserList" class="active">
                            <span><i class="fa-solid fa-user-tie"></i></span>
                            <small>User</small>
                        </a>
                    </li>
                    <li>
                        <a asp-page="/Admin/BirdManagement/ShowListBird">
                            <span><i class="fa-solid fa-kiwi-bird"></i></span>
                            <small>Bird</small>
                        </a>
                    </li>
                    <li>
                        <a asp-page="/Admin/OrderManagement/Index">
                            <span class="las la-shopping-cart"></span>
                            <small>Orders</small>
                        </a>
                    </li>
                    <li>
                        <a asp-page="/Admin/BirdChildrenMagement/Index">
                            <span class="las la-shopping-cart"></span>
                            <small>BirdChildren</small>
                        </a>
                    </li>
                    <li>
                        <a asp-page="/Admin/CommentManagement/Index">
                            <span class="las la-shopping-cart"></span>
                            <small>Comment</small>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="main-content">

        <header>
            <div class="header-content">
                <label for="menu-toggle">
                    <span class="las la-bars"></span>
                </label>

                <div class="header-menu">
                    

                    <div class="user">
                        <div class="bg-img" style="background-image: url(img/1.jpeg)"></div>

                        <span class="las la-power-off"></span>
                        <a class="actions" asp-page="/Logout"><button>Logout</button></a>
                    </div>
                </div>
            </div>
        </header>


        <main>

            <div class="page-header">
                <h1>Admin</h1>
                <small>Home / Dashboard</small>
            </div>

            <div class="page-content">

                <div class="records table-responsive">

                    <div class="record-header">

                        <a asp-page="Create"><button class="btn btn-primary">Create</button></a>`
                    </div>

                    <div>
                        <table width="100%" height="100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th><span class="las la-sort"></span>@Html.DisplayNameFor(model => model.TblUser[0].UserName)</th>

                                    <th><span class="las la-sort"></span>@Html.DisplayNameFor(model => model.TblUser[0].UserAddress)</th>
                                    <th><span class="las la-sort"></span> @Html.DisplayNameFor(model => model.TblUser[0].Phone)</th>
                                    <th><span class="las la-sort"></span> @Html.DisplayNameFor(model => model.TblUser[0].UserStatus)</th>
                                    <th><span class="las la-sort"></span>@Html.DisplayNameFor(model => model.TblUser[0].RoleName)</th>
                                    <th><span></span></th>
                                </tr>
                            </thead>
                            @foreach (var item in Model.TblUser)
                            {
                                <tbody class="list">
                                    <tr class="item">
                                        <td>@Html.DisplayFor(modelItem => item.UserId)</td>
                                        <td>
                                            <div class="client">
                                                <div class="client-img bg-img" style="background-image:url(@Html.DisplayFor(modelItem => item.image))"> </div>
                                                <div class="client-info">
                                                    <h4>@Html.DisplayFor(modelItem => item.FullName)</h4>
                                                    <small>@Html.DisplayFor(modelItem => item.Email)</small>
                                                </div>
                                            </div>
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.UserAddress)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Phone)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UserStatus)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RoleName)
                                        </td>
                                        <td>
                                            <div class="actions">
                                                <a asp-page="./Details" asp-route-id="@item.UserId"><span><i class="fa-solid fa-eye"></i></span></a>
                                                <a asp-page="./Edit" asp-route-id="@item.UserId"><span><i class="fa-solid fa-pen"></i></span></a>
                                                <a asp-page="./Delete" asp-route-id="@item.UserId"><span><i class="fa-solid fa-trash"></i></span></a>
                                            </div>
                                        </td>
                                    </tr>


                                </tbody>
                            }
                        </table>
                    </div>
                    <ul class="listPage">
                    </ul>

                </div>

            </div>

        </main>

    </div>
    <script src="~/js/admin.js"></script>
    <script src="https://kit.fontawesome.com/aadd71a7c7.js" crossorigin="anonymous"></script>
</body>*@

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Modern Admin Dashboard</title>
    <link rel="stylesheet" href="~/css/admin.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        table thead th {
            padding: 1rem 2rem;
            text-align: center;
            font-size: 21px;
        }

        tbody tr {
            padding: 1rem 1rem;
            text-align: center;
            font-size: 19px;
        }

            tbody tr:hover {
                background-color: #e2ecff
            }

        .side-content ul li:hover {
            border: 2px solid #0d6efd;
            background: #2B384E;
        }
    </style>
</head>
<body>
    <input type="checkbox" id="menu-toggle">
    <div class="sidebar">
        <div class="side-header">
            <h3>B<span>ird</span></h3>
        </div>

        <div class="side-content">
            =
            <div class="profile">
                <div class="profile-img bg-img" style="background-image:url(@Model.TblUserDTO.image)"> </div>
                <h4></h4>
                <small>@Model.TblUserDTO.FullName</small>
            </div>
            <div class="side-menu">
                <ul>
                    <li>
                        <a asp-page="/Admin/UserManagement/ShowUserList">
                            <span><i class="fa-solid fa-user-tie"></i></span>
                            <small>User</small>
                        </a>
                    </li>
                    <li>
                        <a asp-page="/Admin/BirdManagement/ShowListBird">
                            <span><i class="fa-solid fa-kiwi-bird"></i></span>
                            <small>Bird</small>
                        </a>
                    </li>
                    <li>
                        <a asp-page="/Admin/OrderManagement/Index">
                            <span class="las la-shopping-cart"></span>
                            <small>Orders</small>
                        </a>
                    </li>
                    <li>
                        <a asp-page="/Admin/BirdChildrenMagement/Index">
                            <span><i class="fa-solid fa-kiwi-bird"></i></span>
                            <small>BirdChildren</small>
                        </a>
                    </li>
                    <li>
                        <a asp-page="/Admin/CommentManagement/Index">
                            <span><i class="fa-solid fa-comment"></i></span>
                            <small>Comment</small>
                        </a>
                    </li>

                    <li>
                        <a asp-page="/Admin/Dashboard/Chart">
                            <span class="las la-shopping-cart"></span>
                            <small>Chart</small>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="main-content">

        <header>
            <div class="header-content">
                <label for="menu-toggle">
                    <span class="las la-bars"></span>
                </label>

                <div class="header-menu">


                    <div class="user">
                        <div class="bg-img" style="background-image: url(img/1.jpeg)"></div>

                        <span class="las la-power-off"></span>
                        <a class="actions" asp-page="/Logout"><button>Logout</button></a>
                    </div>
                </div>
            </div>
        </header>


        <main>

            <div class="page-header">
                <h1>User Management</h1>

            </div>

            <div class="page-content">

                <div class="records table-responsive">

                    <div class="record-header">

                        <a asp-page="Create"><button class="btn btn-primary">Create</button></a>
                        <div class="browse">
                        </div>
                    </div>

                    <div>
                        <table width="100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>@Html.DisplayNameFor(model => model.TblUser[0].UserName)</th>

                                    <th><span class="las la-sort"></span>@Html.DisplayNameFor(model => model.TblUser[0].UserAddress)</th>
                                    <th><span class="las la-sort"></span>@Html.DisplayNameFor(model => model.TblUser[0].Phone)</th>
                                    <th><span class="las la-sort"></span>@Html.DisplayNameFor(model => model.TblUser[0].UserStatus)</th>
                                    <th><span class="las la-sort"></span>@Html.DisplayNameFor(model => model.TblUser[0].RoleName)</th>
                                    <th><span></span></th>
                                </tr>
                            </thead>
                            @foreach (var item in Model.TblUser)
                            {
                                <tbody class="list">
                                    <tr class="itemn text-dark">
                                        <td>@Html.DisplayFor(modelItem => item.UserId)</td>
                                        <td>
                                            <div class="client">
                                                <div class="client-img bg-img" style="background-image:url(@Html.DisplayFor(modelItem => item.image))"> </div>
                                                <div class="client-info">
                                                    <h4>@Html.DisplayFor(modelItem => item.FullName)</h4>
                                                    <small>@Html.DisplayFor(modelItem => item.Email)</small>
                                                </div>
                                            </div>
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.UserAddress)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Phone)
                                        </td>
                                        <td>
                                            @if (item.UserStatus == true)
                                            {
                                                <span style="border-radius: 8px; padding: 8px; font-weight: 700; background-color: #EAFEF3; color: #2ECC71;">Active</span>
                                            }
                                            else if (item.UserStatus != true)
                                            {
                                                <span style="border-radius: 8px; padding: 8px; font-weight: 700;  background-color: #b3a7a8; color: #dc3545;">Inactive</span>
                                            }
                                        </td>
                                        <td>
                                            @*@Html.DisplayFor(modelItem => item.RoleName)*@
                                            @if (item.RoleId == "AD")
                                            {
                                                <span style="border-radius: 8px; padding: 8px; font-weight: 700; background-color: #b3a7a8; color: #dc3545;">Admin</span>
                                            }
                                            else if (item.RoleId == "MN")
                                            {
                                                <span style="border-radius: 8px; padding: 8px; font-weight: 700;  background-color: #f4efff; color: #9A84DA;">Manager</span>
                                            }
                                            else if (item.RoleId == "ST")
                                            {
                                                <span style="border-radius: 8px; padding: 8px; font-weight: 700;  background-color: #eaf2ff; color: #739FDC;">Staff</span>
                                            }
                                            else if (item.RoleId == "US")
                                            {
                                                <span style="border-radius: 8px; padding: 8px; font-weight: 700;  background-color: #fff6e5; color: #F4BD50;">User</span>
                                            }
                                        </td>
                                        <td>
                                            <div class="actions">
                                                <a style="padding-left:14px;" asp-page="./Details" asp-route-id="@item.UserId"><span><i class="fa-solid fa-eye"></i></span></a>
                                                <a style="padding-left:14px;" asp-page="./Edit" asp-route-id="@item.UserId"><span><i class="fa-solid fa-pen"></i></span></a>
                                                <a style="padding-left:14px;" asp-page="./Delete" asp-route-id="@item.UserId"><span><i class="fa-solid fa-trash"></i></span></a>
                                            </div>
                                        </td>
                                    </tr>


                                </tbody>
                            }
                        </table>
                    </div>
                    <ul class="listPage">
                    </ul>

                </div>

            </div>

        </main>

    </div>
    <script src="~/js/admin.js"></script>
    <script src="https://kit.fontawesome.com/aadd71a7c7.js" crossorigin="anonymous"></script>
</body>